$color-white: #FFFFFF;
$color-blue: #5C99EA;
$color-blue-light: #85B6F9;
$color-star-yellow: #FCBF6C;
$color-star-empty: #E2E6F1;
$color-red-error: #E76262;
$color-green: #65B651;
$color-disabled: #CBD7E9;
$color-bg-disabled: #EFF1F5;

//media
$desktop: '(max-width: 1199px)';
$tablet: '(max-width: 959px)';
$phone: '(max-width: 767px)';
